<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms</title>
    <link rel="stylesheet" href="main.css">
</head>
<!-- <div class="result" align="center">
    {% if result %} {% for variable, value in original_input.items() %}
    <b>{{variable}}</b> : {{value}} {% endfor %}
    <br>
    <br> Predicted Disease is:
    <p style="font-size: 50px;">{{result}}</p>
    {% endif %} -->

<body>
    <form class="form">
        <h2>Symptoms</h2>
        <p type="Symptoms:"><input placeholder="Write your Symptoms seperated by comma"></input>
        </p>
        <p type="Region:"><input placeholder="Enter your place"></input>
        </p>
        <button>Submit</button>
    </form>
</body>

</html>